.specific-book-details-container {
  padding: 30px 120px 0 120px;
  background-color: #F8FAFC;
  min-height: 100vh;
}

.specific-details-container {
  background-color: #fff;
  box-shadow: 0px 4px 16px 0px #8a8989;
  padding: 30px;
  border-radius: 10px;
  min-height: 75vh;
}

.specific-book-image {
  width: 135px;
  height: 174px;
  border-radius: 14px;
}

.specific-book {}

.specific-book-top-section {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.specific-book-info-container {
  margin-left: 30px;
}

.rating-container-book-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  width: 120px;
}

@media screen and (max-width: 767px) {
  .specific-book-details-container {
    padding: 0 10px;
  }

  .specific-details-container {
    background-color: transparent;
    box-shadow: none;
    padding: 10px 0;
  }

  .specific-book-top-section {
    flex-direction: column;
    align-items: center;
  }

  .specific-book-info-container {
    margin: 0;
    text-align: center;
  }

  .specific-book-image {
    width: 235px;
    height: 274px;
    border-radius: 12px;
    margin-bottom: 20px;
  }

  .rating-container-book-details {
    justify-content: center;
    width: 100%;
  }

  .rating-container-book-details p {
    margin: 5px;
  }
}