.hamburger-menu {
  display: none;
}

.nav-items-container-mobile {
  display: none;
}

.pending-mobile-nav {
  display: none;
}

.active-mobile-nav {
  display: none;
}

@media screen and (max-width: 767px) {
  .hamburger-menu {
    display: block;

  }

  .hamburger-icon {
    height: 20px;
    width: 20px;
  }

  .trigger-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .nav-items-container-mobile {
    display: block;
    width: 100%;
  }

  .popup-content {
    margin: auto 0;
    background: rgb(167, 166, 166);
    width: 90%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }

  .close-icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  .nav-item {
    font-size: 12px;
  }

  .logout-button {
    font-size: 12px;
  }

  .pending-mobile-nav {
    color: #64748B;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    display: block;
  }

  .active-mobile-nav {
    color: #0284C7;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    display: block;
  }
}