.home-container {
  background-color: #F8FAFC;
  min-height: 100vh;
  padding: 10px 100px;
}

.home-heading-container {
  width: 100%;
  max-width: 700px;
}

.home-heading {
  color: #1E293B;
  font-family: "Inter";
  font-size: 40px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
}

.description {
  color: #475569;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.top-rated-books-container {
  background-color: #e6e5e5;
  box-shadow: 0px 4px 16px 0px #fff;
  padding: 20px 40px;
  border-radius: 5px;
}

.top-rated-books-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.top-rating-heading {
  margin: 3px 0;
  color: #1E293B;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
}

.find-books-button {
  width: 104px;
  height: 36px;
  color: #fff;
  background-color: #0284C7;
  border: 0;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.slide-image {
  border-radius: 10px;
  height: 200px;
  width: 330px;
  padding: 5px;
}

.slider-container {
  margin: 30px 0;
}

.find-books-button-mobile {
  display: none;
}

.slick-image-container {
  text-align: center;
}

.title {
  color: #334155;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  display: block;
  margin: 5px 0;
}

.author-name {
  color: #475569;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  display: block;
  margin: 5px 0;
}

@media screen and (max-width: 767px) {
  .find-books-button {
    display: none;
  }

  .find-books-button-mobile {
    display: block;
    width: 104px;
    height: 36px;
    color: #fff;
    background-color: #0284C7;
    border: 0;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .top-rated-books-container {
    padding: 15px;
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
  }

  .slider-container {
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
  }

  .slide-image {
    width: 150px;
    height: 90px;
    border-radius: 8px;
    padding: 10px 5px 0 5px;
  }


  .home-container {
    padding: 0;
  }

  .home-heading-container {
    padding: 15px;
  }

  .home-heading {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }

  .description {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }

  .slick-image-container {
    width: 150px;
    text-align: center;
  }

  .author-name {
    font-family: "Inter";
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
  }

  .title {
    font-family: "Inter";
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: center;
  }

  .top-rated-books-heading-container {
    margin-bottom: 0;
  }

  .top-rating-heading {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  /* .inner-div {} */
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}