.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 10px 100px;
  position: sticky;
  z-index: 1;
  top: 0;
}

.website-logo {
  width: 133px;
  height: 42px;
}

.pending {
  color: #64748B;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.active {
  color: #0284C7;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.logout-button {
  background-color: #0284C7;
  color: #fff;
  width: 73px;
  height: 32px;
  outline: none;
  border: 0;
  border-radius: 3px;
  outline: none;
}

.nav-items-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .navbar {
    padding: 10px;
  }

  .nav-items-container {
    display: none;
  }

  .website-logo {
    height: 24px;
    width: 94px;
  }
}