.footer {
  padding: 20px 100px;
  text-align: center;
  background-color: #F8FAFC;
}

.social-icons-containeter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 150px;
  margin: auto;
}