.login-container {
  display: flex;
  align-items: center;
}

.login-image {
  width: 50%;
}

.login-right-section {
  margin: 50px;
  width: 499px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 60px;
  border-radius: 3px;
}

.login-logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.login-input-container {
  margin-bottom: 20px;
}

/* .book-store-image {
  height: 40px;
  width: 130px;
} */
.login-input-container label {
  color: #5A7184;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}

.login-input-container input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #C3CAD9;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  height: 35px;
  color: #5A7184;
}

.login-button-container {
  background-color: #0284C7;
  color: #fff;
  width: 100%;
  height: 35px;
  border: 0;
  outline: none;
  border-radius: 5px;
}

.login-image-mobile {
  display: none;
}

.error-message {
  color: red;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .login-container {
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
    min-height: 100vh;
  }

  .login-image-mobile {
    display: block;
  }

  .login-image {
    display: none;
  }

  .login-right-section {
    box-shadow: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}