.books-shelf-container {
  padding: 30px 100px 0 100px;
  display: flex;
  background-color: #F8FAFC;
  min-height: 100vh;
}

.sidebar-container {
  background-color: #fff;
  padding: 20px;
  width: 20%;
}

.books-list-container {
  padding: 0 0 0 20px;
  width: 80%;
  min-height: 100vh;
}

.books-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-container {
  border: 1px solid #94A3B8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  background-color: transparent;
  border: 0;
  outline: none;
  width: 100%;
  padding: 5px;
  color: #94A3B8;
}

.search-icon-container {
  background-color: #cdcecf;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 75vh;
}

.sidebar-container-mobile {
  display: none;
}

.search-container-mobile {
  display: none;
}

.mobile-container {
  display: none;
}

@media screen and (max-width: 767px) {
  .books-shelf-container {
    padding: 10px;
    flex-direction: column;
  }

  .sidebar-container {
    display: none;
  }

  .books-list-container {
    padding: 0;
    width: 100%;
  }

  .books-list-header {
    flex-direction: column;
  }

  .sidebar-container-mobile {
    display: block;
    margin-bottom: 20px;
  }

  .sidebar-container-mobile h2 {
    color: #334155;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  .books-list-header h3 {
    display: none;
  }

  .search-container {
    display: none;
  }

  .search-container-mobile {
    display: block;
    border: 1px solid #94A3B8;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .sidebar-container {
    padding: 10px;
    width: 30%;
  }

  .sidebar-container h2 {
    font-size: 16px;
  }

}